<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,482},{64,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,1280}}</string>
                <key>sourceSize</key>
                <string>{64,1280}</string>
            </dict>
            <key>2-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>2-background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,482},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>2-background-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,482},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>2-building-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1363},{128,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,329}}</string>
                <key>sourceSize</key>
                <string>{128,329}</string>
            </dict>
            <key>2-building-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1562},{116,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,194}}</string>
                <key>sourceSize</key>
                <string>{116,194}</string>
            </dict>
            <key>2-building-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1562},{163,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,424}}</string>
                <key>sourceSize</key>
                <string>{163,424}</string>
            </dict>
            <key>2-building-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1776},{190,872}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,872}}</string>
                <key>sourceSize</key>
                <string>{190,872}</string>
            </dict>
            <key>2-building-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1776},{135,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,215}}</string>
                <key>sourceSize</key>
                <string>{135,215}</string>
            </dict>
            <key>2-cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1980},{444,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,46}}</string>
                <key>sourceSize</key>
                <string>{444,46}</string>
            </dict>
            <key>2-ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1363},{720,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,185}}</string>
                <key>sourceSize</key>
                <string>{720,185}</string>
            </dict>
            <key>2-moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,482},{867,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,860}}</string>
                <key>sourceSize</key>
                <string>{867,860}</string>
            </dict>
            <key>2-mountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1225,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1225,466}}</string>
                <key>sourceSize</key>
                <string>{1225,466}</string>
            </dict>
            <key>2-sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{217,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>2-tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1562},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>environment-2.png</string>
            <key>size</key>
            <string>{1274,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab90832084e6584c819ec7763a3e9462:6b6dbfbd04d2625eb9b6b3e3afe97eef:80f475d797cf9de46c4de81fb6e7ab01$</string>
            <key>textureFileName</key>
            <string>environment-2.png</string>
        </dict>
    </dict>
</plist>
