<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{15,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,1280}}</string>
                <key>sourceSize</key>
                <string>{15,1280}</string>
            </dict>
            <key>2-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,482},{15,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,1280}}</string>
                <key>sourceSize</key>
                <string>{15,1280}</string>
            </dict>
            <key>2-building-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1300},{128,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,329}}</string>
                <key>sourceSize</key>
                <string>{128,329}</string>
            </dict>
            <key>2-building-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1560},{116,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,194}}</string>
                <key>sourceSize</key>
                <string>{116,194}</string>
            </dict>
            <key>2-building-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,862},{163,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,424}}</string>
                <key>sourceSize</key>
                <string>{163,424}</string>
            </dict>
            <key>2-building-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,482},{190,872}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,872}}</string>
                <key>sourceSize</key>
                <string>{190,872}</string>
            </dict>
            <key>2-building-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,713},{135,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,215}}</string>
                <key>sourceSize</key>
                <string>{135,215}</string>
            </dict>
            <key>2-cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,482},{444,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,46}}</string>
                <key>sourceSize</key>
                <string>{444,46}</string>
            </dict>
            <key>2-ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1560},{721,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,187}}</string>
                <key>sourceSize</key>
                <string>{721,187}</string>
            </dict>
            <key>2-moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,686},{867,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,860}}</string>
                <key>sourceSize</key>
                <string>{867,860}</string>
            </dict>
            <key>2-mountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1225,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1225,466}}</string>
                <key>sourceSize</key>
                <string>{1225,466}</string>
            </dict>
            <key>2-sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,482},{217,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>2-tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,940},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>environment-2.png</string>
            <key>size</key>
            <string>{1229,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d9a2a9cde40fa20b4640a511c4abdf:792bc9d46b405e65ed0e5dc3fe88f073:80f475d797cf9de46c4de81fb6e7ab01$</string>
            <key>textureFileName</key>
            <string>environment-2.png</string>
        </dict>
    </dict>
</plist>
