<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{64,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,1280}}</string>
                <key>sourceSize</key>
                <string>{64,1280}</string>
            </dict>
            <key>background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>background-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{96,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1280}}</string>
                <key>sourceSize</key>
                <string>{96,1280}</string>
            </dict>
            <key>brume-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,542}}</string>
                <key>sourceSize</key>
                <string>{1001,542}</string>
            </dict>
            <key>brume-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{1001,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,542}}</string>
                <key>sourceSize</key>
                <string>{1001,542}</string>
            </dict>
            <key>cloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1122},{367,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,140}}</string>
                <key>sourceSize</key>
                <string>{367,140}</string>
            </dict>
            <key>cloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{208,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,79}}</string>
                <key>sourceSize</key>
                <string>{208,79}</string>
            </dict>
            <key>fish-decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1416},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{720,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,186}}</string>
                <key>sourceSize</key>
                <string>{720,186}</string>
            </dict>
            <key>meteorit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,360},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,736},{371,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,372}}</string>
                <key>sourceSize</key>
                <string>{371,372}</string>
            </dict>
            <key>mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1114},{288,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,254}}</string>
                <key>sourceSize</key>
                <string>{288,254}</string>
            </dict>
            <key>planet-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,736},{358,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,229}}</string>
                <key>sourceSize</key>
                <string>{358,229}</string>
            </dict>
            <key>planet-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1108},{311,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,184}}</string>
                <key>sourceSize</key>
                <string>{311,184}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1296},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>star-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,430},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>star-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,1108},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,224},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
            <key>tree-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1296},{89,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,122}}</string>
                <key>sourceSize</key>
                <string>{89,122}</string>
            </dict>
            <key>tree-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1296},{89,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,122}}</string>
                <key>sourceSize</key>
                <string>{89,122}</string>
            </dict>
            <key>water-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,2},{720,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,107}}</string>
                <key>sourceSize</key>
                <string>{720,107}</string>
            </dict>
            <key>water-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{720,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,107}}</string>
                <key>sourceSize</key>
                <string>{720,107}</string>
            </dict>
            <key>water-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2},{720,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,400}}</string>
                <key>sourceSize</key>
                <string>{720,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parallaxes.png</string>
            <key>size</key>
            <string>{2041,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7398524494d37fdceb96111d3138c80:8ab9427bf7076a7a2a435a029bca8d03:bab53ef7f34df0cea0e37f42f488a1be$</string>
            <key>textureFileName</key>
            <string>parallaxes.png</string>
        </dict>
    </dict>
</plist>
