<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,843},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,850},{150,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,301}}</string>
                <key>sourceSize</key>
                <string>{150,301}</string>
            </dict>
            <key>cocos2dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{234,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,325}}</string>
                <key>sourceSize</key>
                <string>{234,325}</string>
            </dict>
            <key>counter-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1975},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>credits-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1534},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>credits-decoration-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1410},{250,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,157}}</string>
                <key>sourceSize</key>
                <string>{250,157}</string>
            </dict>
            <key>credits-decoration-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,574},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>credits-decoration-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,753},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>explanation-root.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,140},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1690},{9,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,41}}</string>
                <key>sourceSize</key>
                <string>{9,41}</string>
            </dict>
            <key>facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1517},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>finish-noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,637},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>finish-play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,133},{273,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,545}}</string>
                <key>sourceSize</key>
                <string>{273,545}</string>
            </dict>
            <key>freepick.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2013},{190,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,19}}</string>
                <key>sourceSize</key>
                <string>{190,19}</string>
            </dict>
            <key>holder-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,375},{467,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,117}}</string>
                <key>sourceSize</key>
                <string>{467,117}</string>
            </dict>
            <key>holder-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,506},{467,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,117}}</string>
                <key>sourceSize</key>
                <string>{467,117}</string>
            </dict>
            <key>holder-background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{516,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,124}}</string>
                <key>sourceSize</key>
                <string>{516,124}</string>
            </dict>
            <key>holder-background-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,236},{467,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,125}}</string>
                <key>sourceSize</key>
                <string>{467,125}</string>
            </dict>
            <key>leaderboards-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,843},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,887},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,447},{110,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,143}}</string>
                <key>sourceSize</key>
                <string>{110,143}</string>
            </dict>
            <key>mail-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,818},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,883},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,117}}</string>
                <key>sourceSize</key>
                <string>{1001,117}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1927},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1675},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{261,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,522}}</string>
                <key>sourceSize</key>
                <string>{261,522}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,217},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>restore-purchases-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1905},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>rocket-decoration-large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,976},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>rocket-decoration-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1303},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,753},{168,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1113},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1180},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>store-button-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,236},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1700},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1700},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1700},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,883},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>store-coins-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-coins-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-coins-background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-item-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1343},{110,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,200}}</string>
                <key>sourceSize</key>
                <string>{110,200}</string>
            </dict>
            <key>store-item-1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1117},{126,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,200}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>store-item-1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1395},{98,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,200}}</string>
                <key>sourceSize</key>
                <string>{98,200}</string>
            </dict>
            <key>store-item-1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1396},{141,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,200}}</string>
                <key>sourceSize</key>
                <string>{141,200}</string>
            </dict>
            <key>store-item-1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1180},{95,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,201}}</string>
                <key>sourceSize</key>
                <string>{95,201}</string>
            </dict>
            <key>store-item-1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1557},{114,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,201}}</string>
                <key>sourceSize</key>
                <string>{114,201}</string>
            </dict>
            <key>store-item-1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1546},{116,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,201}}</string>
                <key>sourceSize</key>
                <string>{116,201}</string>
            </dict>
            <key>store-item-1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1772},{93,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,201}}</string>
                <key>sourceSize</key>
                <string>{93,201}</string>
            </dict>
            <key>store-item-1-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,660},{86,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,201}}</string>
                <key>sourceSize</key>
                <string>{86,201}</string>
            </dict>
            <key>store-item-1-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1823},{138,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,200}}</string>
                <key>sourceSize</key>
                <string>{138,200}</string>
            </dict>
            <key>store-item-1-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1343},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
            <key>store-item-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1771},{111,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,200}}</string>
                <key>sourceSize</key>
                <string>{111,200}</string>
            </dict>
            <key>store-item-1-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1609},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>store-item-1-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1181},{120,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,201}}</string>
                <key>sourceSize</key>
                <string>{120,201}</string>
            </dict>
            <key>store-item-1-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1181},{157,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,200}}</string>
                <key>sourceSize</key>
                <string>{157,200}</string>
            </dict>
            <key>store-item-1-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1557},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
            <key>store-item-1-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,887},{163,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,201}}</string>
                <key>sourceSize</key>
                <string>{163,201}</string>
            </dict>
            <key>store-item-1-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1102},{160,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,204}}</string>
                <key>sourceSize</key>
                <string>{160,204}</string>
            </dict>
            <key>store-item-1-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1331},{117,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,201}}</string>
                <key>sourceSize</key>
                <string>{117,201}</string>
            </dict>
            <key>store-item-1-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,2},{118,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,201}}</string>
                <key>sourceSize</key>
                <string>{118,201}</string>
            </dict>
            <key>store-item-1-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1610},{133,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,201}}</string>
                <key>sourceSize</key>
                <string>{133,201}</string>
            </dict>
            <key>store-item-1-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1690},{132,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,201}}</string>
                <key>sourceSize</key>
                <string>{132,201}</string>
            </dict>
            <key>store-item-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1772},{110,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,200}}</string>
                <key>sourceSize</key>
                <string>{110,200}</string>
            </dict>
            <key>store-item-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,875},{95,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,200}}</string>
                <key>sourceSize</key>
                <string>{95,200}</string>
            </dict>
            <key>store-item-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1089},{110,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,200}}</string>
                <key>sourceSize</key>
                <string>{110,200}</string>
            </dict>
            <key>store-item-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1825},{133,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,200}}</string>
                <key>sourceSize</key>
                <string>{133,200}</string>
            </dict>
            <key>store-item-1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1320},{142,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,200}}</string>
                <key>sourceSize</key>
                <string>{142,200}</string>
            </dict>
            <key>store-item-1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1303},{75,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,200}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>store-item-1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,604},{94,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,200}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>store-item-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1761},{125,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,152}}</string>
                <key>sourceSize</key>
                <string>{125,152}</string>
            </dict>
            <key>store-item-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1395},{140,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,171}}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>store-item-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,692},{266,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,137}}</string>
                <key>sourceSize</key>
                <string>{266,137}</string>
            </dict>
            <key>store-item-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,733},{214,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,140}}</string>
                <key>sourceSize</key>
                <string>{214,140}</string>
            </dict>
            <key>store-name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1986},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>text-holder-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,637},{236,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,82}}</string>
                <key>sourceSize</key>
                <string>{236,82}</string>
            </dict>
            <key>text-holder-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,140},{512,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,82}}</string>
                <key>sourceSize</key>
                <string>{512,82}</string>
            </dict>
            <key>text-holder-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1581},{302,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,105}}</string>
                <key>sourceSize</key>
                <string>{302,105}</string>
            </dict>
            <key>tutorial-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1113},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>tutorial-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,850},{222,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,316}}</string>
                <key>sourceSize</key>
                <string>{222,316}</string>
            </dict>
            <key>twitter-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1753},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1668,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca94e0eeb5440ed827a6d7aebe5a6c4:57f5e7a625a1fb3e420c3092d8098a5a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
