<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,843},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,850},{150,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,301}}</string>
                <key>sourceSize</key>
                <string>{150,301}</string>
            </dict>
            <key>cocos2dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{234,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,325}}</string>
                <key>sourceSize</key>
                <string>{234,325}</string>
            </dict>
            <key>counter-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1954},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>credits-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1843},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>credits-decoration-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1410},{250,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,157}}</string>
                <key>sourceSize</key>
                <string>{250,157}</string>
            </dict>
            <key>credits-decoration-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1419},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>credits-decoration-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,628},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>explanation-root.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1845},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{9,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,41}}</string>
                <key>sourceSize</key>
                <string>{9,41}</string>
            </dict>
            <key>facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1562},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>finish-noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1727},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>finish-play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,133},{273,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,545}}</string>
                <key>sourceSize</key>
                <string>{273,545}</string>
            </dict>
            <key>freepick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1975},{190,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,19}}</string>
                <key>sourceSize</key>
                <string>{190,19}</string>
            </dict>
            <key>holder-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1181},{467,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,117}}</string>
                <key>sourceSize</key>
                <string>{467,117}</string>
            </dict>
            <key>holder-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1312},{467,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,117}}</string>
                <key>sourceSize</key>
                <string>{467,117}</string>
            </dict>
            <key>holder-background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1720},{516,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,124}}</string>
                <key>sourceSize</key>
                <string>{516,124}</string>
            </dict>
            <key>holder-background-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1581},{467,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,125}}</string>
                <key>sourceSize</key>
                <string>{467,125}</string>
            </dict>
            <key>leaderboards-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,843},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,471},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1843},{110,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,143}}</string>
                <key>sourceSize</key>
                <string>{110,143}</string>
            </dict>
            <key>mail-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,312},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
            <key>missions-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,774},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,117}}</string>
                <key>sourceSize</key>
                <string>{1001,117}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1845},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1931},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{261,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,522}}</string>
                <key>sourceSize</key>
                <string>{261,522}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1004},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>restore-purchases-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,701},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>rocket-decoration-large.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1954},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>rocket-decoration-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1858},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1443},{168,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,774},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1180},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>store-button-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,133},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,843},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,98},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,436},{108,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,324}}</string>
                <key>sourceSize</key>
                <string>{108,324}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1004},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>store-coins-background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-coins-background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-coins-background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{645,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,225}}</string>
                <key>sourceSize</key>
                <string>{645,225}</string>
            </dict>
            <key>store-item-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,98},{104,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{104,200}</string>
            </dict>
            <key>store-item-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1505},{106,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,201}}</string>
                <key>sourceSize</key>
                <string>{106,201}</string>
            </dict>
            <key>store-item-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1464},{106,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,201}}</string>
                <key>sourceSize</key>
                <string>{106,201}</string>
            </dict>
            <key>store-item-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1679},{125,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,152}}</string>
                <key>sourceSize</key>
                <string>{125,152}</string>
            </dict>
            <key>store-item-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1234},{140,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,171}}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>store-item-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,692},{266,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,137}}</string>
                <key>sourceSize</key>
                <string>{266,137}</string>
            </dict>
            <key>store-item-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1573},{214,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,140}}</string>
                <key>sourceSize</key>
                <string>{214,140}</string>
            </dict>
            <key>store-name.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1954},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>text-holder-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{236,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,82}}</string>
                <key>sourceSize</key>
                <string>{236,82}</string>
            </dict>
            <key>text-holder-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1858},{512,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,82}}</string>
                <key>sourceSize</key>
                <string>{512,82}</string>
            </dict>
            <key>text-holder-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1443},{302,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,105}}</string>
                <key>sourceSize</key>
                <string>{302,105}</string>
            </dict>
            <key>tutorial-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1234},{108,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,216}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>tutorial-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,850},{222,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,316}}</string>
                <key>sourceSize</key>
                <string>{222,316}</string>
            </dict>
            <key>twitter-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,470},{72,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1298,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f97ed4dfb73819ce4c288116ad762c8:4771963eb9e74dc611b89ea4401ceeea:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
