<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,538},{102,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>back-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,561},{102,251}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{102,251}}</string>
                <key>sourceSize</key>
                <string>{150,301}</string>
            </dict>
            <key>cocos2dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{234,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,325}}</string>
                <key>sourceSize</key>
                <string>{234,325}</string>
            </dict>
            <key>counter-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,252},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>credits-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,727},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>credits-decoration-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,332},{250,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,157}}</string>
                <key>sourceSize</key>
                <string>{250,157}</string>
            </dict>
            <key>credits-decoration-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,870},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>credits-decoration-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,826},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>empty-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,554},{301,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{301,159}}</string>
                <key>sourceSize</key>
                <string>{305,161}</string>
            </dict>
            <key>facebook-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,727},{65,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,129}}</string>
                <key>sourceSize</key>
                <string>{65,129}</string>
            </dict>
            <key>finish-noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>finish-play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,545}}</string>
                <key>sourceSize</key>
                <string>{273,545}</string>
            </dict>
            <key>leaderboards-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,503},{102,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>like-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,503},{102,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>mail-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,727},{65,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,129}}</string>
                <key>sourceSize</key>
                <string>{65,129}</string>
            </dict>
            <key>noad-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,885},{143,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,72}}</string>
                <key>sourceSize</key>
                <string>{143,72}</string>
            </dict>
            <key>notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,936},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>play-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{261,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,522}}</string>
                <key>sourceSize</key>
                <string>{261,522}</string>
            </dict>
            <key>rate-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,762},{102,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>restore-purchases-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,870},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>share-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,727},{102,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>sound-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,332},{210,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{210,208}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,727},{102,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,210}}</string>
                <key>sourceSize</key>
                <string>{108,216}</string>
            </dict>
            <key>tutorial-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{216,316}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,316}}</string>
                <key>sourceSize</key>
                <string>{222,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1040,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ed28bd66b4adeb7cae3b96ede9e06a:f06defe0a2842ef4e08a864caf846be7:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
